<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Hi i am Pritam Kumar</p>
    <img src="/images/myimg.jpeg" class="portrait">
    </div>
    <footer>{{>footer}}</footer>
</body>
</html>